.cursor-pointer {
  cursor: pointer;
}

.css-10cbwbc-MuiTableRow-root.Mui-selected {
  background-color: white !important;
}

.css-10cbwbc-MuiTableRow-root.MuiTableRow-hover:hover {
  background-color: white !important;
}

.custom-modal {
  .css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-close-btn {
    position: absolute;
    top: 37px;
    right: 3%;
    cursor: pointer;
  }
}

.permission-box {
  width: 15px;
  height: 15px;
}
