.cursor-pointer {
  cursor: pointer;
}

.css-10cbwbc-MuiTableRow-root.Mui-selected {
  background-color: white !important;
}

.css-10cbwbc-MuiTableRow-root.MuiTableRow-hover:hover {
  background-color: white !important;
}

.custom-modal {
  .css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-close-btn {
    position: absolute;
    top: 37px;
    right: 3%;
    cursor: pointer;
  }
}

.permission-box {
  width: 15px;
  height: 15px;
}

.custom-text-area {
  height: 70px;
  min-width: 100%;
  width: 616px;
  padding: 8.5px 14px;
  border: 1.5px solid #c4c4c4;
  border-radius: 5px;
  font-size: 1rem;

  &:hover {
    border: black solid 0.5px;
  }

  &:focus-visible {
    outline: #1976d2 auto 1px;
  }
}

div.error-msg {
  color: red;
  margin-top: -10px;
  background: antiquewhite;
  border-radius: 5px;
  padding: 2px 14px;
  font-size: 12px;
}
